{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}



{{ block.super}}


{% block content %}
<!-- Landing Page -->

<div class="container-fluid">
    
    <div class="row">
       
      {% for hood in neighbourhoods %}
      <div class="col-md-4">
        <div class="card mb-4">
          <h5 class="card-title p-2"><b>Hood Name :</b><span style="color: blueviolet;">{{ hood.hood_name }}</span></h5>
          <img src="{{ hood.image.url }}" class="card-img-top" alt="{{ hood.hood_name }}" height="180px">

          <div class="card-body">
            <p class="card-text"><b>Hood Description :</b><br>{{hood.description}}</p>
            <p><b>Hood Location :</b> {{hood.location}}</p>
           

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}