{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Neighbourhood</title>

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    {% endblock %}
</head>

<body>
    <div class="container">
        <h3 class="text-center" style="font-family: 'Kanit', sans-serif; padding-top:40px;">Add Neighbourhood</h3>
        <div class="col-sm-12 col-lg-6 m-auto card" style="background-color: lavenderblush;">
            <form action="{%url 'newneighbourhood' %}" method="post" enctype="multipart/form-data">
                <br>
                {%csrf_token%}
    
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-success btn-lg btn-center" value="Submit Neighbourhood"><br><br>
            </form>
           
        </div><br>
    </div>
</body>
