{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Singlehood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>{{hood.hood_name}}</h1>
  
  <div class="row">
    <div class="col-md-6">
        <img src="{{ hood.image.url }}" class="card-img-top" alt="{{ hood.hood_name }}" height="100%" width="100%">
    </div>
    <div class="col-md-6" style="background-color:pink;">
        <p><b>Name:</b> {{hood.name}}</p>  
        <p><b>Location:</b>{{hood.location}}</p>
        <p><b>Description:</b> {{hood.description}}</p>
        <p><b>Police Contact:</b> {{hood.police_contact}}</p>
        <p><b>Medical Contact:</b> {{hood.health_contact}}</p>

        <a class='btn btn-success' href="{%url 'newbusiness'%}">New business</a>
        <a class="btn btn-success" href=" /businesses/{{hood.id}} ">View Businesses </a><br><br>

        <a class='btn btn-warning' href="{%url 'post'%}">New Post</a>
        <a class='btn btn-warning' href="/hoodpost/{{hood.id}}">View Post</a>
    </div>
  </div>
</div>

</body>
</html>